In [1]:
# 라이브러리
import os
import cv2
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
# bounding box 좌표 변경하기
def cvt_coordinate(center_x, center_y, w, h):
    '''
    start_x, start_y: 시작 꼭짓점 좌표 (x, y)
    end_x, end_y: 종료 꼭짓점 좌표 (x, y)
    '''
    start_x, end_x = center_x - (w//2), center_x + (w//2)
    start_y, end_y = center_y - (h//2), center_y + (h//2)

    return str(start_x), str(start_y), str(end_x), str(end_y)

# version 1

In [53]:
# data path 설정
DATA_PATH = '../data/'
data_list = os.listdir(DATA_PATH)

len(data_list)

4645

In [54]:
# 이미지와 라벨 데이터 
img_list = []
txt_list = []

for data in data_list:
    data = DATA_PATH + data
    if data.endswith('txt'):
        txt_list.append(data)
    else:
        img_list.append(data)

txt_list.sort()
img_list.sort()

print(len(img_list), len(txt_list))

2322 2323

In [55]:
# 라벨
df = pd.read_csv(txt_list[0])
df

   class   center_x   center_y    w    h   angle
0      1        530       1880  900  900       0
1      2       2430       1860  900  900       0
2      3        690       4960  900  900       0
3      4       2330       4960  900  900       0
4      5       1210       7270  540  540       0
5      6       1830       7270  560  560       0

In [62]:
f = open('../data/train_annotation.txt', 'w')
# n = len(txt_list)
n = 101
anno_len = 6
for i in range(n):
    data = []
    
    title = txt_list[i].split('/')[-1]
    title = './data/' + title
    title = title[:-3] + 'jpg'
#     print(title)
    
    df = pd.read_csv(txt_list[i])    
    for j in range(anno_len):
        val = df.iloc[j].tolist()
        center_x, center_y, w, h = val[1], val[2], val[3], val[4]
        start_x, start_y, end_x, end_y = cvt_coordinate(center_x, center_y, w, h)
        coordinate = [start_x, start_y, end_x, end_y, str(val[0])]        
        data.extend(coordinate)
        
    res = ','.join(data)    
    res = title + ' ' + res + '\n'
    f.write(res)
f.close()
print("Save Annotation txt")

Save Annotation txt

# version 2

In [4]:
# data path 설정
DATA_PATH = '../src/train/'
data_list = os.listdir(DATA_PATH)

len(data_list)

3250

In [5]:
# 이미지와 라벨 데이터 
img_list = []
txt_list = []

for data in data_list:
    data = DATA_PATH + data
    if data.endswith('txt'):
        txt_list.append(data)
    else:
        img_list.append(data)

txt_list.sort()
img_list.sort()

print(len(img_list), len(txt_list))

1625 1625

In [6]:
# 라벨
df = pd.read_csv(txt_list[0])
df

   class   center_x   center_y    w    h   angle
0      1        530       1880  900  900       0
1      2       2430       1860  900  900       0
2      3        690       4960  900  900       0
3      4       2330       4960  900  900       0
4      5       1210       7270  540  540       0
5      6       1830       7270  560  560       0

In [7]:
f = open('../src/train_annotation.txt', 'w')
n = len(txt_list)
anno_len = 6
for i in range(n):
    data = []
    
    title = txt_list[i].split('/')[-1]
    title = './src/train/' + title
    title = title[:-3] + 'jpg'
#     print(title)
    
    df = pd.read_csv(txt_list[i])    
    for j in range(anno_len):
        val = df.iloc[j].tolist()
        center_x, center_y, w, h = val[1], val[2], val[3], val[4]
        start_x, start_y, end_x, end_y = cvt_coordinate(center_x, center_y, w, h)
        coordinate = [start_x, start_y, end_x, end_y, str(val[0])]        
        data.extend(coordinate)
        
    res = ','.join(data)    
    res = title + ' ' + res + '\n'
    f.write(res)
f.close()
print("Save Annotation txt")

Save Annotation txt

# 정리

In [10]:
# path 설정
'''
val or train or test
'''
DATA_PATH = '../src/train/'
file_path = '../src/train_annotation.txt'
title_path = './src/train/'


data_list = os.listdir(DATA_PATH)
print(len(data_list))

# 이미지와 라벨 데이터 
img_list = []
txt_list = []

for data in data_list:
    data = DATA_PATH + data
    if data.endswith('txt'):
        txt_list.append(data)
    else:
        img_list.append(data)

txt_list.sort()
img_list.sort()

print(len(img_list), len(txt_list))

f = open(file_path, 'w')
n = len(txt_list)
anno_len = 6
for i in range(n):
    data = []
    
    title = txt_list[i].split('/')[-1]
    title = title_path + title
    title = title[:-3] + 'jpg'
#     print(title)
    
    df = pd.read_csv(txt_list[i])    
    for j in range(anno_len):
        val = df.iloc[j].tolist()
        center_x, center_y, w, h = val[1], val[2], val[3], val[4]
        start_x, start_y, end_x, end_y = cvt_coordinate(center_x, center_y, w, h)
        coordinate = [start_x, start_y, end_x, end_y, str(val[0])]        
        data.extend(coordinate)
        
    res = ','.join(data)    
    res = title + ' ' + res + '\n'
    f.write(res)
f.close()
print("Save Annotation txt")

3250
1625 1625
Save Annotation txt